                
                <div class="sidebar">
                    <div class="widget">
                         <h3>  À propos de nous  </h3>
                    
                        <ul class="menu">
                            <li>
                                <a href="#">
                                        <strong style="font-size: 14px;">
                                        À propos de nous 
                                        </strong>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <strong style="font-size: 14px;">
                                            Boîte à outils  
                                    </strong>
                                </a>
                            </li>
                        
                        </ul><!-- /.menu -->
                    </div><!-- /.wifget -->

                </div><!-- /.sidebar -->
           