
                <div class="content">
                    <div class="page-title">
                        <h3>  À propos de nous  </h3>
                    </div><!-- /.page-title -->
                        <div class="video">
                        <object width="520" height="315"
                        data="http://www.youtube.com/embed/mm3U-vnzwR4">
                        </object>
                        </div>
                    <div class="posts">
                        <div class="post"> 
                 <div class="post-meta clearfix">
                <h3> Ivoir BUS: la meilleure façon de réserver des billets de cars</h3> <hr />
            
                                <div style="font-size: 14px;">
                                 <div class="col-md-4">
                                  <img src="{{asset('uploads/search.png') }}" alt="">
                                 <h3>  Rechercher  </h3>
                                  </div>
                                   <div class="col-md-4">
                                    <img src="{{asset('uploads/compare.png') }}" alt="">
                                 <h3> &nbsp; Comparer  </h3>
                       
                                  </div>
                                   <div class="col-md-4"> <img src="{{asset('uploads/reserver.png') }}" alt="">
                                 <h3> &nbsp; &nbsp; Réserver  </h3>
                       
                                  </div>

                                   IvoirBus est un produit de Eureka Performance qui offre des voyages en car 
                                   entre les différentes villes du pays au départ d’Abidjan et vers les autres 
                                   villes de l’intérieur. Nous vous donnons l’occasion de réservez rapidement 
                                   et facilement votre ticket  sur Internet. C’est une façon économique de voyager à votre rythme.
                                <br /> <br />
                                                                
                                Nous opérons actuellement la ligne Abidjan-Yamoussoukro
                                <br />
                                Les clients réservent et paient leurs places à l'avance sur le site web www.ivoirbus.com. 
                                Nous acceptons également les clients qui se présentent sans réservation. Ceux-ci peuvent acheter leur billet au guichet  IvoirBus sous réserve des places disponibles. 

                                </div>

                            </div><!-- /.post-meta -->
                        </div><!-- /.post -->

                    </div><!-- /.posts -->

                </div><!-- /.content -->  
                 