
                <div class="content">
                    <div class="page-title">
                        <h3>  Modalités & Conditions: </h3>
                    </div><!-- /.page-title -->
                       
                    <div class="posts">
                        <div class="post"> 
                 <div class="post-meta clearfix">
                <h3>Conditions générales de transport</h3> <hr />
            
  <h3> En vigueur depuis le 01 Novembre 2016    </h3> 
                               
Ces conditions de transport sont les conditions selon lesquelles la société Eureka Performance à travers sa compagnie de transport  IvoirBus transporte une personne et ses biens, et ces conditions s’appliquent à tout contrat de réservation effectué pour transport sur un trajet  IvoirBus . Toute personne qui voyage sur un trajet  IvoirBus est considéré avoir convenu d’être transporté selon les modalités de ces Conditions de transport. Toutes les commandes effectuées sur la solution sont soumises aux présentes Conditions Générales de Vente. La Société Eureka Performance se réserve le droit d’adapter ou de modifier à tout moment les présentes conditions générales de vente.
 <br /> <br />
  <h3>Définitions </h3>                                                             
                               Dans ces Modalités de transport, les mots suivants ont les significations suivantes :
                                <br />
                               Réservation sous-entend votre réservation de voyage sur un trajet  IvoirBus pour lequel une réservation a été effectuée et dont les frais administratifs et les frais pour traitement de carte (s’il y a lieu) ont été réglés.
                               <br />
                               Confirmation de réservation signifie le justificatif d’un document publié sur internet dans un email ou un sms envoyé par nos soins, ou en notre nom, à la personne effectuant la réservation et qui expose notre accord de transporter ou d’arranger le transport d’une personne, y compris les trajets pour lesquels le voyage est réservé et le prix payé.
                              <br />
                              Numéro de confirmation de réservation signifie le numéro de référence attribué à chaque passager qui effectue une réservation. C’est le moyen par lequel une réservation est identifiée. 
                                <br />
                                Trajet  IvoirBus veut dire tout trajet qui sera effectué, prévu ou arrangé par nos soins ou en notre nom dans le but de transporter des personnes et leurs bagages, et exposé dans des horaires publiées par nos soins. Véhicule  IvoirBus signifie autocar ou tout autre véhicule routier ou tout autre moyen de transport prévu par nous ou tout autre transporteur avec lequel vous voyagez.
                                <br />
                                Les Trajets proposés à la vente sont des billets d’Autocars de la compagnie  IvoirBus .  IvoirBus apporte le plus grand soin dans la présentation et la description des résultats pour satisfaire au mieux l’information du Client. 
                                <br />
                                Le prix sous-entend le prix qui vous est demandé par  IvoirBus pour chacune des places réservée pour un trajet avec  IvoirBus (sauf les frais de traitement par carte) pour toute réservation effectuée via le site internet www.ivoirbus.com. Les prix indiqués lors des résultats d’une Recherche sont ceux qui nous ont été validés par notre compagnie. Ainsi, seuls les Trajets proposés sur la solution sont commercialisés par  IvoirBus .
                                <br />
                                <br />
                                Le terme voyage sous-entend chacun des trajets que vous pouvez entreprendre à bord d’un véhicule  IvoirBus tel qu’indiqué sur vos billets et la confirmation de votre commande.
                                    <br />
                                    Bagage veut dire tout bien personnel que vous emporter à bord d’un véhicule  IvoirBus , y compris tout bien que vous portez sur vous-même.
                                <br />    <br />
                                <br />
                                 </div>

                            </div><!-- /.post-meta -->
                        </div><!-- /.post -->

                    </div><!-- /.posts -->

                </div><!-- /.content -->  
                 