
{% extends 'base.html.twig' %}

{% block body %}
<div class="background-white p20 col-md-5 col-md-offset-2">
     
    <h3>Modifier une gare</h3>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}


        <a class="btn btn-primary" href="{{ path('gare_index') }}"> Liste des gares
            </a>
         <input type="submit" class="btn btn-success" value="Modifier" />
       
    {{ form_end(edit_form) }}
            
</div>
{% endblock %}
