
{% extends 'base.html.twig' %}

{% block body %}
    <div class="background-white p20 col-md-5 col-md-offset-2">

        <h3>Ajouter une ville</h3>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <a class="btn btn-primary" href="{{ path('ville_index') }}"> Liste des villes
        </a>
         <input type="submit" class="btn btn-success" value="Ajouter" />
       
        {{ form_end(form) }}

    </div>
{% endblock %}

