{% trans_default_domain 'FOSUserBundle' %}
<div class="page-title" style="margin-top: 10px !important;margin-bottom: 20px !important;">
        <h1>Modification password</h1>
    </div><!-- /.page-title -->  
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary btn-block"/>
    </div>
{{ form_end(form) }}
